body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Helvetica Neue', 'sans-serif';
}

.App {
  text-align: center;
}

img {
    width:8rem;
    margin: 1rem;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

hr {
    margin-top: 2rem;
}